## Visual Studio / .NET
[Bb]in/
[Oo]bj/
[Dd]ist/
[Dd]ist_setup/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl
*.jfm
*.log

## Build artifacts
*.pdb
*.exe
!WindowsMonitorBLE/
*.zip

## Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.egg-info/
LinuxMonitorBLE/config.json

## OS generated
.DS_Store
Thumbs.db
desktop.ini
